@charset "utf-8";
@font-face{
  font-family: NotoSansHans-Regular;
  src: url("../font//NotoSansHans-Regular.ttf");
}
@font-face {
  font-family: ArialBold;
  src: url('../font/Arial-BoldMT.otf');
}
html,body,ul,li,ol,dl,dd,dt,table,tbody,thead,tr,th,td,p,h1,h2,h3,h4,h5,h6,form,img,button,select,option,textarea {
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
button:active, button:hover, bottom:focus {
  outline: none;
}
html, body {
  height: 100%;
}
img {
  border: none;
  vertical-align: middle;
  pointer-events: none; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-select:none;  
  -o-user-select:none;  
  user-select:none;
}
address,code,th {
  font-style: normal;
  font-weight: normal;
}
ul,ol {
  list-style: none;
}

body {
  font-size: 0.24rem;
  font-family: NotoSansHans-Regular;
  background: #f2f2f2;
}
a {
  color: #999;
  text-decoration: none;
  display: inline-block;
}
ins {
  text-decoration: none;
}
a:visited {
  color: #999;
}
h3 {
  font-weight: normal;
}
input, textarea {
  outline: none;
  border: none;
}
input::placeholder{
  color: gray;
  font-size: .24rem;
}
input:-ms-input-placeholder {
  color: gray;
  font-size: .24rem;
}
input::-moz-placeholder {
  color: gray;
  font-size: .24rem;
}
input::-webkit-input-placeholder {
  color: gray;
  font-size: .24rem;
}
em {
  font-style: normal;
}
.grayColor {
  color: #999;
}
.redColor {
  color: #e10030;
}
.threePoint {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
/* 公共样式 */
.dis-flex {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.dis-flex-bt {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}
.dis-flex-wrap {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.swiper-container {
  height: 2.14rem;
}
.swiper-slide {
  height: 2.14rem;
}
.mint-swipe-indicator {
  width: 0.17rem;
  height: 0.17rem;
  border-radius: 100%;
  background: #fff;
  margin: 0 0.1rem;
  opacity: 1;
}
.mint-swipe-indicator.is-active {
  background: #e10030;
  opacity: 1;
}
.x-video-title {
  color: rgba(0, 0, 0, 0) !important;
}
.vjs-button-icon {
  display: none;  /* 隐藏默认播放按钮 */
}
.iconfont {
  font-size: 0.4rem;
}
